body {
  margin: 0;
  background-color: aliceblue;
}

.wrapper {
  padding: 40px 0;
  background-color: #2f55ee;
}

.search-form {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.search-form > button {
  cursor: pointer;
}

.search-form > input {
  width: 200px;
}

.load-more {
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
